In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Imp\SamanyuK\Datasets\train.csv")
pd.set_option('display.max_columns',None)
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,7.0,11.27,4.0,Good,809.98,26.822620,265.0,No,49.574949,21.465380,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,4.0,11.27,4.0,Good,809.98,31.944960,266.0,No,49.574949,21.465380,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,7.0,11.27,4.0,Good,809.98,28.609352,267.0,No,49.574949,21.465380,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5.0,4.0,6.27,4.0,Good,809.98,31.377862,268.0,No,49.574949,21.465380,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6.0,4.0,11.27,4.0,Good,809.98,24.797347,269.0,No,49.574949,21.465380,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",23.0,7.0,11.50,3.0,Good,502.38,34.663572,378.0,No,35.104023,24.028477,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,5,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",18.0,7.0,11.50,3.0,Good,502.38,40.565631,379.0,No,35.104023,24.028477,High_spent_Medium_value_payments,496.651610,Poor
99997,155627,37932,6,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",27.0,6.0,11.50,3.0,Good,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,7,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",20.0,6.0,11.50,3.0,Good,502.38,33.638208,381.0,No,35.104023,24.028477,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,8,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",18.0,6.0,11.50,3.0,Good,502.38,34.192463,382.0,No,35.104023,24.028477,High_spent_Medium_value_payments,393.673696,Poor

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  int64
 1   Customer_ID               100000 non-null  int64
 2   Month                     100000 non-null  int64
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  float64
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         100000 non-null  float64
 10  Num_Credit_Card           100000 non-null  float64
 11  Interest_Rate             100000 non-null  float64
 12  Num_of_Loan               100000 non-null  float64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  float64
 15  Num_of_Delayed_Payment    100000 non-null  float64
 16  Changed_Credit_Limit      100000 non-null  float64
 17  Num_Credit_Inquiries      100000 non-null  float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        100000 non-null  float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   100000 non-null  float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           100000 non-null  float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(18), int64(3), object(7)
memory usage: 21.4+ MB

In [4]:
for col in df.columns[df.dtypes=='object']:
    print(df[col].value_counts(),'\n\n')

Name
Jessicad              48
Langep                48
Stevex                48
Vaughanl              40
Ronald Groverk        40
                      ..
Breidthardtj           8
Sven Egenterx          8
Antonella Ciancioc     8
Valentina Zan          8
Nicks                  8
Name: count, Length: 10128, dtype: int64


Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Developer        6720
Media_Manager    6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64


Type_of_Loan
No Data                                                                                                                               11408
Not Specified                                                                                                                          1408
Credit-Builder Loan                                                                                                                    1280
Personal Loan                                                                                                                          1272
Debt Consolidation Loan                                                                                                                1264
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                  8
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                     8
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                         8
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan        8
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                   8
Name: count, Length: 6261, dtype: int64


Credit_Mix
Standard    45848
Good        30384
Bad         23768
Name: count, dtype: int64


Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64


Payment_Behaviour
Low_spent_Small_value_payments      28616
High_spent_Medium_value_payments    19738
High_spent_Large_value_payments     14726
Low_spent_Medium_value_payments     14399
High_spent_Small_value_payments     11764
Low_spent_Large_value_payments      10757
Name: count, dtype: int64


Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [5]:
col=['ID','Name','Type_of_Loan']
df.drop(columns=col,axis=1,inplace=True)

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Occupation'] = le.fit_transform(df['Occupation'])
df['Payment_Behaviour']=le.fit_transform(df['Payment_Behaviour'])
df['Credit_Mix']=df['Credit_Mix'].apply(lambda x:0 if x=='Bad' else 2 if x=='Good' else 1)
df['Payment_of_Min_Amount']=df['Payment_of_Min_Amount'].apply(lambda x: 0 if x=='No' else 2 if x=='Yes' else 1)
df['Credit_Score']=df['Credit_Score'].apply(lambda x: 0 if x=='Poor' else 1 if x=='Standard' else 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  int64
 1   Month                     100000 non-null  int64
 2   Age                       100000 non-null  float64
 3   SSN                       100000 non-null  float64
 4   Occupation                100000 non-null  int32
 5   Annual_Income             100000 non-null  float64
 6   Monthly_Inhand_Salary     100000 non-null  float64
 7   Num_Bank_Accounts         100000 non-null  float64
 8   Num_Credit_Card           100000 non-null  float64
 9   Interest_Rate             100000 non-null  float64
 10  Num_of_Loan               100000 non-null  float64
 11  Delay_from_due_date       100000 non-null  float64
 12  Num_of_Delayed_Payment    100000 non-null  float64
 13  Changed_Credit_Limit      100000 non-null  float64
 14  Num_Credit_Inquiries      100000 non-null  float64
 15  Credit_Mix                100000 non-null  int64
 16  Outstanding_Debt          100000 non-null  float64
 17  Credit_Utilization_Ratio  100000 non-null  float64
 18  Credit_History_Age        100000 non-null  float64
 19  Payment_of_Min_Amount     100000 non-null  int64
 20  Total_EMI_per_month       100000 non-null  float64
 21  Amount_invested_monthly   100000 non-null  float64
 22  Payment_Behaviour         100000 non-null  int32
 23  Monthly_Balance           100000 non-null  float64
 24  Credit_Score              100000 non-null  int64
dtypes: float64(18), int32(2), int64(5)
memory usage: 18.3 MB

In [8]:
from sklearn.model_selection import train_test_split,RandomizedSearchCV

In [9]:
x=df.drop(columns='Credit_Score')
y=df['Credit_Score']
x_t,x_te,y_t,y_te=train_test_split(x,y,test_size=0.25,random_state=20)

Using Decision Tree Classifier

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
dt=DecisionTreeClassifier()
path=dt.cost_complexity_pruning_path(x_t,y_t)
alphas=path.ccp_alphas

In [12]:
param={'ccp_alpha':alphas}
ndt=RandomizedSearchCV(dt,param_distributions=param,cv=10,n_jobs=-1,random_state=20,scoring='accuracy',n_iter=100)
ndt.fit(x_t,y_t)
print(ndt.best_score_)
print(ndt.best_params_)
ba=ndt.best_params_['ccp_alpha']

0.7645600000000001
{'ccp_alpha': 4.6954641505725044e-05}

In [13]:
dt=DecisionTreeClassifier(ccp_alpha=ba)
param={'criterion':['gini','entropy'],'min_samples_split':list(np.arange(2,201)),'min_samples_leaf':list(np.arange(1,201)),
       'max_features':['sqrt','log2',None],'max_depth':list(np.arange(1,201))}
ndt=RandomizedSearchCV(dt,param_distributions=param,cv=10,n_jobs=-1,random_state=20,scoring='accuracy',n_iter=100)
ndt.fit(x_t,y_t)
print(ndt.best_score_)
print(ndt.best_params_)

0.73768
{'min_samples_split': 70, 'min_samples_leaf': 3, 'max_features': None, 'max_depth': 67, 'criterion': 'gini'}

In [14]:
#ndt=ndt.best_estimator_

In [15]:
pred=ndt.predict(x_te)

In [16]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [17]:
cr1=classification_report(y_te,pred)
a1=accuracy_score(y_te,pred)
cm1=confusion_matrix(y_te,pred)
print(a1)

0.74504

Using Random Forest Classifier

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
import numpy as np

rf = RandomForestClassifier()
param = {
    'n_estimators': [50],
    'criterion': ['gini', 'entropy'],
    'max_features': ['sqrt', 'log2', None]
}
nrf = RandomizedSearchCV(
    rf, 
    param_distributions=param, 
    n_jobs=-1, 
    n_iter=6,               
    cv=5,                   
    scoring='accuracy')

nrf.fit(x_t, y_t)

print(nrf.best_score_)
print(nrf.best_params_)
bs=nrf.best_score_
nrf = nrf.best_estimator_

0.82104
{'n_estimators': 50, 'max_features': 'sqrt', 'criterion': 'entropy'}

In [20]:
pred=nrf.predict(x_te)

In [21]:
cr2=classification_report(y_te,pred)
a2=accuracy_score(y_te,pred)
cm2=confusion_matrix(y_te,pred)
print(a2)

0.83192

In [22]:
print("Decision Tree Classifier Training Accuracy and Testing Accuracy: ",ndt.best_score_," ",a1,"\n") 
print("Random Forest Classifier Training Accuracy and Testing Accuracy: ",nrf.best_score_," ",a2,"\n")

Decision Tree Classifier Training Accuracy and Testing Accuracy:  0.73768   0.74504

AttributeError: 'RandomForestClassifier' object has no attribute 'best_score_'

In [ ]:
print("Decision Tree Classifier\n\n",cr1,"\n\n\n\nRandom Forest Classifier\n\n",cr2)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
labels=['Poor','Standard','Good']
fig, ax = plt.subplots(1, 2, figsize=(14, 6))
sns.heatmap(cm1,annot=True,ax=ax[0],xticklabels=labels,yticklabels=labels,cmap='magma')
ax[0].set_title('Decision Tree Classifier')
sns.heatmap(cm2,annot=True,ax=ax[1],xticklabels=labels,yticklabels=labels,cmap='magma')
ax[1].set_title('Random Forest Classifier')
plt.show()